.env
logs/
__pycache__/
.venv/
venv/
data/
docs/*
!docs/assessment/
!docs/assessment/**
!docs/references/
!docs/references/**
docs/references/assets/
!docs/roles/
!docs/roles/**
!docs/devdocs/
!docs/devdocs/**
configs/dev/aset.local.yaml
docs/Cobalt/
architecture_assessments/
logs.vscode/
cobalt_context.txt
cobalt_master_context.txt
*.egg-info/
.DS_Store
